<!-- templates/mastero_interiors/floating_icons.html -->
{% load static %}
<div class="floating-icons">
    <a href="https://wa.me/8802636414" class="whatsapp" target="_blank" title="Chat on WhatsApp">
        <img src="{% static 'mastero_interiors/images/whatsapp.svg' %}" alt="WhatsApp">
    </a>
    <a href="tel:+918802636414" class="call" title="Call Us">&#x260E;</a>
    <a href="https://www.instagram.com/mastrointeriors/?hl=en" target="_blank" class="instagram" title="Visit Our Instagram">
        <img src="{% static 'mastero_interiors/images/instagram.svg' %}" alt="Instagram">
    </a>
</div>
